.image{
    width: 100%;
    border: 5px solid whitesmoke;
    margin-left: -5px;
    border-radius: 10px;
}
body{
    background-color: black;   
}
h1{
    text-transform: capitalize;
    font-size: 3rem;
    margin: 10px;
}
.poster{
    
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre baskerville", serif;
    text-align:center;
    text-transform: capitalize;
}
#nav{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-end;   
    margin:0;
    background-color: rgb(8, 59, 76);

}
#nav a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    border-left: 10px solid rgba(255,255,255,0.3);
    border-right: 10px solid rgba(0,0,0,0.1);
}
#nav a:hover{
    background-color: #1565C0;
}
@media (max-width: 600px){
    #nav{
        justify-content: space-around;

    }
  .poster{
    width: 100%;
    margin: 20px 0;
  }
    
}