.image{
    width: 100%;
    border: 5px solid whitesmoke;
    margin-left: -5px;
    border-radius: 10px;
}
body{
    background-color: black;   
}
h1{
    text-transform: capitalize;
    font-size: 3rem;
    margin: 10px;
}
.poster{
    
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre baskerville", serif;
    text-align:center;
    text-transform: capitalize;
}
